<h1>Olá usuário! Veja a lista de categorias e postagens existentes na base de dados.</h1>

<a href="/admin/categorias/"><button class="btn btn-success mt-2">Ver Categorias</button></a>
<br>
<a href="/admin/postagens/"><button class="btn btn-success mt-2">Ver Postagens</button></a>